{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> header background=@blog.cover_image}} {{!--Special header.hbs partial to generate the <header> tag--}}
    <div class="inner">
        {{> "site-nav"}}
    </div>
</header>

<main id="site-main" class="site-main outer">
    <div class="inner home">
        <h2>Hi, my name is Deep Shah!</h2>
        <h3>Amongst many roles in my life, I’m professionally currently a software designer and design manager. I’m at <a class="mongodb" href="http://mongodb.design/" target="_blank">MongoDB</a>, creating solutions for developers.</h3>
        <!-- <p>Technology has a funny way of bringing people together, while keeping us apart at the same time.</p> -->
        <p>When I was younger, we had air conditioning on the second floor of our house. That’s where my Dad kept the computers and had his office. Every now and then, he would let me sleep in the air conditioning, next to the giant machines.</p>
        <p>I like to think I absorbed everything I knew about computers from simply being there, but we all know the real reason I’m in the industry today is because of Neopets.</p>
        <p>Long before I knew what “designing” was, I was creating audio visual experiences for musicals and plays in middle school. I was developing photos in a darkroom, creating title boards for videos, editing documentaries, laying out and printing magazines, producing music, and building websites.</p>
        <p>I went to college and studied Biochemistry for 3 years while designing software quietly grew into a greater passion through freelance work. Science wasn’t for me at the time, but I realized I could get paid doing these things I was so good at.</p>
        <p>I’ve worked with amazing people at Livestream, Saavn, and Behalf (amongst others).</p>
        <form
          action="https://buttondown.email/api/emails/embed-subscribe/deep"
          method="post"
          target="popupwindow"
          onsubmit="window.open('https://buttondown.email/deep', 'popupwindow')"
          class="embeddable-buttondown-form subscribe-form small"
        >
          <label for="bd-email">✉️ Get my thoughts a few times a year</label>
          <input class="subscribe-email small" type="email" name="email" id="bd-email" placeholder="Enter your email">
          <input type="hidden" value="1" name="embed"/>
          <input class="subscribe-button small" type="submit" value="Subscribe" />
        </form>
    </div>
</main>
